{%  extends "index.html" %}
{%  block title %}
Consultar de Solicitudes
{%  endblock    %}

<br><br><br>
{%  block content   %}
    <br><br>
    
    <h1 style="color: #f7f8f8;"><center>Consulte si la Solicitud esta completa</center></h1>
    <div class="container ">        
        <div class="container">
            <form action="{% url 'consultarSolicitud' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3  contCon" role="alert" >
                    <label for="" class="form-label">Ingrese el número de Rut o Nit</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="rutNit">
                    <button type="submit" class="btn btn-primary mt-3"
                        style="text-decoration: none; color:white">
                        Consultar
                    </button>
                </div>            
            </form>
        </div>
        
    </div>
 
    <script>
        alert_jquery_confirm();
    </script>
   <br><br><br><br><br>
   <br><br><br><br><br><br>

{%  endblock  %}