{%  extends "index.html" %}
{%  block title %}
Consultar de Solicitudes
{%  endblock    %}


{%  block content   %}
    
    <div class="container contenedor">
        <br>
        <h1 style="color: #f7f8f8;"><center>Descargue los documentos necesarios para la solicitud</center></h1>
        <div class="row ">
            <div class=" col-md-6">
                <div class=" cardContainer2">
                    <h4 class="textLabel">Certificado cuestionario LA/FT</h4>
                    <iframe id="inlineFrameExample"
                        title="Inline Frame Example"
                        width="500"
                        height="400"
                        src="../static/file/Django_File_Upload.pdf">
                    </iframe>
                    <!-- <a href="../static/file/Django_File_Upload.pdf" class="btn btn-warning">Certificado anticorrupción</a> -->
                </div>
            </div>
            <div class=" col-md-6">
                <div class=" cardContainer2">
                    <h4 class="textLabel">Formato de inscripcion y actualizacion</h4>
                    <iframe id="inlineFrameExample"
                        title="Inline Frame Example"
                        width="500"
                        height="400"
                        src="../static/file/Django_File_Upload.pdf">
                    </iframe>
                    
                </div>
            </div>
            <div class=" col-md-6">
                <div class=" cardContainer2">
                    <h4 class="textLabel">Compromiso de adhesion</h4>
                    <iframe id="inlineFrameExample"
                        title="document"
                        width="500"
                        height="400"
                        src="../static/file/Django_File_Upload.pdf">
                    </iframe>
                    
                    
                </div>
            </div>
            <div class=" col-md-6">
                <div class=" cardContainer2">
                    <h4 class="textLabel">Certificado anticorrupcion</h4>
                    <iframe id="inlineFrameExample"
                        title="Inline Frame Example"
                        width="500"
                        height="400"
                        src="../static/file/Django_File_Upload.pdf">
                    </iframe>
                    
                </div>
            </div>
        </div>
    </div>

<br><br>
{%  endblock    %}