<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="https://alsea.net/alsea-icon-192x192.png">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">    
    <link rel="stylesheet" href="{% static 'libs/jquery-confirm/jquery-confirm.min.css' %}">    


    <title>
      {%  block title %}{%  endblock  %}
    </title>
</head>
<body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            {% load static %}
            <img src="{% static 'img/Alsea_logo.png' %}" alt="" width="80" height="40">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'documentos' %}" >Documentos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'registrarS'%}">Registrar Solicitud</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'consultarS'%}">Consultar Solicitudes</a>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout'%}" tabindex="-1" aria-disabled="true">logout</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">{{  user.username }}</a>
                </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}" tabindex="-1" aria-disabled="true">Login</a>
              </li>
              {% endif %}
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </div>
    
    {%  block content   %}
    {%  endblock    %}
    
    
      <footer class="text-muted text-center text-small">
        <div class="row">
          <div class="col-lg-6  p-3">
            {% load static %}
            <img src="{% static 'img/archies.png' %}" alt="" height="80">
            <img src="{% static 'img/logo-dominos.jpg' %}" alt="" height="80">
            <img src="{% static 'img/Starbucks.jpg' %}" alt="" height="80">
        </div>
          <div class="col-lg-6  p-3">
            <p class="mb-1 fotterlist">&copy; 2022 Alsea</p>
            <ul class="list-inline fotterlist">
              <li class="list-inline-item"><a href="#">Terms</a></li>
              <li class="list-inline-item"><a href="#">Privacy</a></li>
              <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
          </div>
          
        </div>
      </footer>
          
      
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>   
</body>
</html>
{% load static %}
    <script type="text/javascript" src="{% static 'js/select.js' %}"></script>  
    <script src="{% static 'js/funciones.js' %}"></script> 
    <script src="{% static 'libs/jquery-confirm/jquery-confirm.min.js' %}"></script>  
