<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      {%  block title %}{%  endblock  %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <link rel="icon" type="image/png" href="https://alsea.net/alsea-icon-192x192.png">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">    
    <link rel="stylesheet" href="{% static 'libs/jquery-confirm/jquery-confirm.min.css' %}"> 
    <!-- estilos y javascript  -->  
    {%  block head  %}
    {%  endblock    %}

   
</head>
<body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">
            {% load static %}
            <img src="{% static 'img/Alsea_logo.png' %}" alt="" width="80" height="40">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'documentos' %}" >Documentos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'registrarS' %}">Registrar Proveedor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'solicitudes' %}"> Proveedores</a>
              </li>
              {% if user.is_superuser %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'inicio' %}" tabindex="-1" aria-disabled="true">Ver Estadisticas</a>
                </li>                
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'inicio' %}" tabindex="-1" aria-disabled="true">Realizar encuesta</a>
              </li>   
              {% endif %}
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}" tabindex="-1" aria-disabled="true">logout</a>
                </li>
                
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}" tabindex="-1" aria-disabled="true">Login</a>
              </li>
              {% endif %}
              
            </ul>
            
          </div>
        </div>
      </nav>
    </div>
    <br>
    <h1 style="color: #eff2f3;"><CENter>REGISTRO DE PROVEEDORES</CENter></h1>
    {%  block content   %}
    {%  endblock    %}
    
    
      <footer class="text-muted text-center text-small">
        <div class="row">
          <div class="col-lg-6  p-3">
            {% load static %}
            <img src="{% static 'img/archies.png' %}" alt="" height="80">
            <img src="{% static 'img/logo-dominos.jpg' %}" alt="" height="80">
            <img src="{% static 'img/Starbucks.jpg' %}" alt="" height="80">
        </div>
          <div class="col-lg-6  p-3">
            <p class="mb-1 fotterlist">&copy; 2022 Alsea</p>
            <ul class="list-inline fotterlist">
              <li class="list-inline-item"><a href="#">Terms</a></li>
              <li class="list-inline-item"><a href="#">Privacy</a></li>
              <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
          </div>
          
        </div>
      </footer>
          
    {% load static %} 
    <script type="text/javascript" src="{% static 'js/select.js' %}"></script>  
    <script src="{% static 'js/funciones.js' %}"></script> 
    <script src="{% static 'libs/jquery-confirm/jquery-confirm.min.js' %}"></script>  
    {%  block javascript  %}
      {%  endblock    %}  
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>    
</body>
</html>

