
  <!-- Modal -->
  <div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="helpModalLabel">Instrucciones Para llenar el formato</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <p> 1.	De no haber llenado todos los campos no se realizará el registro </p>
            <p>2.	Seleccione todos los documentos necesarios para realizar el registro. </p>
            <p>3.	Después de haber llenado el formulario será redireccionado a la página para registrar una nueva solicitud. </p>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>