{%  extends "index.html" %}
{%  block title %}
Registro de Solicitudes
{%  endblock    %}

{%  block content   %}
<br><br>
<h1 style="color: #eff2f3;"><center>FORMATO DE REGISTRO</center></h1>
<div class="container contenedorRegistrar">
    <form action="/registrarSolicitud/" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="col-lg-6  p-5">
                <br><br>
                <div class="mb-3" >
                    {{  form1.as_table   }}
                </div>
                <div class="">
                    <button type="submit" class="centrado" style="text-decoration: none; color:white">
                        Enviar!
                    </button>
                </div>
            </div>
            <div class="col-lg-6  p-5">
                <h2 style="color: #eff2f3;"><center>Documentos obligatorios</center></h2>
                <div class="mb-3" >
                    {{  form2.as_table   }}
                </div>
                <h2 class="textLabel"><center>Otros documentos</center></h2>
                <div>
                    <label for="" class="textLabel">Anexar otros documentos</label>
                    <select class="form-select" name="campo1" id="campo1">
                        <option value="0" selected>Elija una opcion</option>
                        <option value="1">Si</option>
                        <option value="2">No</option>
                    </select>
                    <div class="mb-3" >
                        {{  form3.as_table  }}
                    </div>
                </div>
            </div>          
            
         </div>
    </form>
</div>

{%  endblock  %}