{%  extends "index.html" %}
{%  block title %}
Registro de Solicitudes
{%  endblock    %}

{%  block content   %}
<br><br>
<h2 style="color: #eff2f3;"><center>FORMATO DE REGISTRO</center></h2>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="textLabel">
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error:
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}¡Bien!:
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}Advertencia:
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}Aviso: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

   
<div class="container contenedorRegistrar">
     <!-- Modal con instrucciones de ayuda -->
     <button type="button" class="btn btn-warning" data-bs-toggle="modal"        data-bs-target="#helpModal">Ayuda 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
          </svg>
    </button>    
    {%  include "modal.html" %}         
  
    <form action="/registrarSolicitud/" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="col-lg-6  p-5">
                <br><br>
                <div class="mb-3" >                    
                    {% for row in form1 %}
                        <div class="container">
                            <label  class="textLabel" for="{{ row.html_name }}" > <!-- row.html_name imprime el nombre que django le da al campo -->
                               {{ row.label_tag }} <!-- .label_tag es el valor del label que le diste en forms.py -->
                            </label>
                            {{ row }} <!-- aqui imprimimos el campo -->
                            <p class="help-block">{{ row.errors.as_text }} {{ row.field.css_classes }}</p>
                        </div> 
                {% endfor %}
                </div>
                <div class="">
                    <button type="submit" class="btn btn-lg centrado" style="text-decoration: none; color:white">
                        Enviar!
                    </button>
                </div>
            </div>
            <div class="col-lg-6  p-5">
                <h3 style="color: #eff2f3;"><center>Documentos obligatorios</center></h3>
                <div class="mb-3" >
                    {{  form2.as_table   }}
                </div>
                <h3 class="textLabel"><center>Otros documentos</center></h3>
                <div>
                    <label for="" class="textLabel">Anexar otros documentos</label>
                    <select class="form-select" name="campo1" id="campo1">
                        <option value="0" selected>Elija una opcion</option>
                        <option value="1">Si</option>
                        <option value="2">No</option>
                    </select>
                    <div class="mb-3" >
                        {{  form3.as_table  }}
                    </div>
                </div>
            </div>          
            
         </div>
    </form>
</div>

{%  endblock  %}