{%  extends "index.html" %}
{%  block title %}
Registro de Solicitudes
{%  endblock    %}

<br><br><br>

{%  block content   %}
<br><br>
<div class="container contenedor2">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4">
            <div class=" cardContainer" >
                <div class="card-body">
                    <h5 class="textLabel">{{datos.nombre}}</h5>
                    <p class="textLabel">Razón social: {{datos.razonSocial}}</p>
                    <p class="textLabel">Número Proveedor: {{datos.numProveedor}}</p>
                    <p class="textLabel">{{datos.vinculacion}}</p>
                    <p class="textLabel">Marca: {{datos.marca}}</p>
                    <p class="textLabel">Fecha: {{datos.fecha}}</p>

                    <form action="{% url 'editar' %}" method="POST">
                        {% csrf_token %}
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="rutNit" value="{{ datos.rutNit }}" hidden>
                        <button type="submit" class="btn btn-primary btn-lg mt-3"
                        style="text-decoration: none; color:white">
                        Editar
                    </button>
                    </form>
                    
                    
                
                </div> 
                            
            </div>
        </div>

        <div class="col-6 col-md-5">
            <div class="cardContainer">
                <ul>
                    {% for object in docs %}
                    <li class="">
                        <div class="row">
                            <div class="col-sm-8 mt-3">
                                <h5 class="textLabel">{{object.nombre}}</h5>
                            </div>
                            <div class="col-sm-4 mt-3">
                                <a href="{{ object.doc_file }}" class="btn btn-primary">Ver archivo </a> 
                            </div>                            
                        </div>     
                    </li>  
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
</div>

<br><br>
<br><br>
<br><br>
<br><br><br>

{%  endblock    %}