{%  extends "index.html" %}
{%  block title %}
Registro de Solicitudes
{%  endblock    %}

<br><br><br>

{%  block content   %}
<br><br>
<div class="container contenedor">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-6 col-md-4">
            <div class=" cardContainer" >
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="textLabel">{{datos.nombre}}</h5>
                    <p class="textLabel">Razón social: {{datos.razonSocial}}</p>
                    <p class="textLabel">Número Proveedor: {{datos.numProveedor}}</p>
                    <p class="textLabel">{{datos.vinculacion}}</p>
                    <p class="textLabel">Marca: {{datos.marca}}</p>
                    <p class="textLabel">Fecha: {{datos.fecha}}</p>

                
                    <a href="#" class="btn btn-primary">Editar</a>
                    
                
                </div> 
                            
            </div>
        </div>

        <div class="col-6 col-md-5">
            <div class="cardContainer">
                <ul>
                    {% for object in docs %}
                    <li class="">
                        <h5 class="textLabel">{{object.nombre}}</h5>
                        <a href="{{ object.doc_file }}" class="btn btn-primary">Ver archivo </a>      
                    </li>  
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
</div>

<br><br>
<br><br>
<br><br>
<br><br><br>

{%  endblock    %}