{%  extends "base.html" %}
{%  block title %}
    Encuesta
{%  endblock    %}

{%  block content   %}
<br>
    <h1 style="color: aliceblue;"><center>Encuesta de Satisfacción</center></h1>
    <div class=" contenedorEncuesta">
        <br><br><br>
        <a class="btn btn-secondary"style="color: aliceblue;" href="{%url 'inicio' %}">Back</a>
        <form action="{% url 'registrarEncuesta' %}" method="post">
            {% csrf_token %}
            <div class="row">
            {% for row in form %}
                <div class="col-lg-2  p-3 {% if row.errors %} has-error {% endif %}"> 
                    <div class=" cardContainer2" >
                        
                            <div class="grid-container">
                                <label  class="textLabel" for="{{ row.html_name }}" > <!-- row.html_name imprime el nombre que django le da al campo -->
                                    {% if row.field.required %}<i class="fa fa-asterisk text-red"></i> {% endif %}{{ row.label_tag }} <!-- .label_tag es el valor del label que le diste en forms.py -->
                                    </label>
                            </div>
                            
                            <p style="color: azure;">{{ row.help_text }}</p>
                                {{ row }} <!-- aqui imprimimos el campo -->
                            <p class="help-block">{{ row.errors.as_text }} {{ row.field.css_classes }}</p>
                        
                    </div>                    
                </div>
            {% endfor %}
            </div>
            <br>
                <div>
                    <button type="submit" class="btn centrado2 btn-lg" style="text-decoration: none; color:white">Enviar!</button>
                </div>
                <br><br>
        </form>
    </div>
{%  endblock    %}